* {
  padding: 0;
  margin: 0;
}

/* div-1 */
.div-1 {
  background-image: url("../images/homepage_bg_image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  height: 720px;
  width: 100%;
}

.div-1 .btn-login {
  font-size: 20px; 
  color: white; 
  background-color: rgba(255, 255, 255, 0.5); 
  border: none; 
  padding: 15px 30px; 
  font-family: 'Arial', sans-serif; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
  margin-top: 20px;
  margin-right: 20px;
}

.div-1 .btn-login:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}


.navbar {
  padding: 0.5rem 1rem; 
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white; 
  margin-right: 20px; 
  transition: color 0.3s ease; 
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ccc; 
}

.navbar-brand a {
  color: white; 
  transition: color 0.3s ease; 
}


@media (max-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-right: 0; 
    color: white;
  }
}


/* div 2 */

.div-2 {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background-color: whitesmoke;
  height: 740px;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 14px;
}


.div-2 h2{
  font-size: 24px;
  color: #297385;
  font-weight: bold;
  margin-bottom: 20px;
}

.div-2 p{
  font-size: 20px;
  color: #17404b;
  margin-bottom: 14px;
  text-align: left;
}

.div-2 a {
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  background-color: #297385;
  margin-left: 200px;
  margin-bottom: 14px;
  text-decoration: none;
}


.div-2 img {
  order: 2; 
  width: 40%; 
  height: auto;
  margin-right: 50px; 
}

.div-2 .text-content {
  order: 1; 
  max-width: 600px;
  margin-left: 50px; 
  text-align: left; 
}



@media (max-width: 768px) {
  .div-2 {
    flex-direction: column; 
  }

  .div-2 img, .div-2 .text-content {
    order: initial; 
    width: 100%; 
    margin: 10px 0; 
  }
}
