*{
    padding: 0;
    margin: 0;
}


/*header*/

header{
    background-color:#297385;
    height: 5%;
    width: 100%;
}

header h1{
    text-align: center;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 0.7%;
    color: #fff;
}


/*footer*/

footer {
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.footer-div-1{
    width: 100%;
    background-color: #297385;
    background-size: cover;
    text-decoration: none;
    display: inline-flex;
    list-style: none;
    height: 50%;
}

.footer-div-1 a{
    position: relative;
    left: 350px; 
    margin: auto ;
    text-decoration: none;
    color: #17404b;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.footer-div-2{
    background-color: #17404b;
    display: flex; 
    align-items: center;
  
}

.footer-div-2 a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px; 
}




