.login-page-container, .register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .login-container, .register-container {
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="username"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-page-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #297385;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-page-container p {
    text-align: center;
  }
  
  .login-page-container a {
    color: #297385;
    text-decoration: none;
  }
  
  
  