/* Quizzes page */

/* Style général de la page */


.quizzesPage{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-bottom: 30px;

}

/* En-tête des sections */
.quizzesPage h1 {
    text-align: center;
    color: #297385;
    align-items: center;
    padding : 20px;
}

/* Style des sections */


.quizzesPage .box {
    background-color: white;
    margin-left: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    
}

/* Style des titres de quiz */
.quizzesPage .box h2 {
    color: #818181;
    text-align: center;
    margin-bottom: 15px;  
}

/* Style des paragraphes */
.quizzesPage .box p {
    font-size: 16px;
    color: #666;
    text-align: center;
}


/* Style des boutons */
.quizzesPage .box button {
    display: inline-block;
 
    border: none;
    
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quizzesPage .button-container{
    text-align: center;
}

.quizzesPage button:hover {
    background-color: #f9ecec;
    color: #084858;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quizzesPage .softbutton {
    background-color: rgb(130, 196, 212);
}

.quizzesPage .mediumbutton {
    background-color: #cb98d8;;
}

.quizzesPage .hardbutton {
    background-color: rgb(238, 145, 151);;
}

/* Style des images */
.quizzesPage img.quizImage {
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.homeButtonContainer {
    text-align: center; 
    margin-top: 30px; 
  }
  
  /* This button is also present on all quizzes pages */
  button.homeButton {
    background-color: #297385; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    text-transform: uppercase; 
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
    margin-bottom: 20px;
  }
  
  button.homeButton:hover {
    background-color: #17404b; 
    color: white;
  }
  

/* Responsive design */
@media (max-width: 768px) {
    .quizzesPage .div.box {
        margin: 10px;
    }

    .quizzesPage img.quizImage {
        width: 80%;
        height: auto;
    }
}
