extends layout 
block content 

    div.coursestitle
        h1 Discover our lessons on the world!

    div.flagscourse 
        div.box 
            h2 Learn about flags
            br
            p Learn the flags of the world by country name.
            br
            a(href="/flagscourse")
                button Start
            br
            img(src="../images/flagscourse.png", alt="flagscourse", width="40%", height="40%")

    div.capitalscourse 
        div.box 
            h2 Learn about capitals
            br
            p Learn the capitals of the world by country name.
            br
            a(href="/capitalscourse")
                button Start
            br
            img(src="../images/capitalscourse.png", alt="flagscourse", width="40%", height="40%")