extends layout 
block content 

    div.flagscoursetitle
        h1 All country flags of the world

    div.europesection 
        h2 Europe

    div.americasection 
        h2 America 

    div.africasection 
        h2 Africa 

    div.asiasection 
        h2 Asia 

    div.oceaniasection 
        h2 Oceania

    
