extends layout
block content


  
  div.div-1.d-flex.justify-content-center.align-items-center
    a.btn.btn-login(href='/login', role='button') Login


  div.div-2
    img(src="../images/image-div-2.png", alt="image_div-2", width="40%", height="80%")
    .text-content
      h2 Improve your geography skills by Signing Up to our website Today!
      p Take advantage of our lessons and quizzes to enhance your knowledge.
      br
      a(href="/signup") Sign Up Now!