extends layout 
block content 

    div.infotext
        p GeoMaster is your one-stop destination for an exciting and educational exploration of world capitals and flags. Our mission is to make geography engaging and accessible, providing users with a dynamic platform to learn, discover, and quiz themselves on the fascinating facets of global geography. 
        p Delve into the administrative hearts of nations as you explore the capitals of countries from every corner of the globe. Our curated content goes beyond mere facts, offering insights into the historical and cultural significance of each capital city. Uncover the stories that make these cities unique and essential to the identity of their respective countries.
        p Flags are powerful symbols that encapsulate the spirit of a nation. Immerse yourself in the world of flags, unraveling the meanings behind their colors, symbols, and designs. From the iconic stars and stripes of the United States to the intricate patterns of nations in Africa, our platform provides a visually rich experience, fostering appreciation for the diversity of global identities.
        p Learning is made fun with our interactive quizzes. Test your geographical knowledge of capitals and flags. Whether you're a beginner or a seasoned geography enthusiast, our quizzes offer a challenge for everyone. Track your progress, challenge friends, and celebrate your achievements as you navigate through the world of geography.
        p In conclusion, GeoMaster is your passport to a world of knowledge and discovery. Whether you're a student looking to enhance your geography skills or an adult seeking to refresh your memory, our platform is designed to cater to a diverse audience. Join us on this educational adventure, and let's explore the captivating world of geography together.
    div.infoimage
        img(src="../images/info_image_removebg.png" alt="Info Image" width="100%", height="100%") 
