doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/index.css') 
    link(rel="stylesheet", href="/stylesheets/layout.css")
    <meta name="viewport" content="width=device-width, initial-scale=1">

  header 
    //a(href="/" id="websitelogo")
      img(src="../images/logo.png" height="10%" width="10%") 
    h1 Geo Master: Your Path to knowledge!
  body
    block content


  footer 
    .footer-div-1 
      a(href='#') Privacy
      br
      a(href='#') Terms of Use
      br
      a(href='#') Careers
      br
      a(href='#') FAQ
      br
      a(href='#') Shipping & Returns
      br
      a(href='#') Feedback
      br
      a(href='#') Site Map



    .footer-div-2
      img(src="../images/logo.png", alt="logo", width="20%", height="20%")
      
      a(href="#") 
        i.fab.fa-facebook-square
      a(href="#")
        i.fab.fa-twitter-square
      a(href="#")
        i.fab.fa-instagram-square
      a(href="#")
        i.fab.fa-youtube-square
      a(href="#")
        i.fab.fa-linkedin