extends layout 
block content 

    div.quizzestitle
        h1 Test your knowledge with our quizzes!
    
    div.flagsquiz 
        div.box 
            h2 Flags quiz
            br
            p Test your knowledge of flags by gessing the corresponding country!
            br
            p Choose your difficulty:
            a(href="/flagsquiz")
                button.softbutton Soft
            a(href="/flagsquiz")
                button.mediumbutton Medium
            a(href="/flagsquiz")
                button.hardbutton Hard
            br
            img(src="../images/flagsquiz.png", alt="flagsquiz", width="40%", height="40%")

    div.capitalsquiz 
        div.box 
            h2 Capitals quiz
            br
            p Test your knowledge of the worlds capitals!
            br
            p Choose your difficulty:
            a(href="/capitalsquiz")
                button.softbutton Soft
            a(href="/capitalsquiz")
                button.mediumbutton Medium
            a(href="/capitalsquiz")
                button.hardbutton Hard
            br
            img(src="../images/capitalsquiz.png", alt="capitalsquiz", width="40%", height="40%")

    div.mixedquiz 
        div.box 
            h2 Mixed quiz
            br
            p Test your knowledges of flags and capitals!
            br
            p Choose your difficulty:
            a(href="/mixedquiz")
                button.softbutton Soft
            a(href="/mixedquiz")
                button.mediumbutton Medium
            a(href="/mixedquiz")
                button.hardbutton Hard
            br
            img(src="../images/mixedquiz.png", alt="mixedquiz", width="40%", height="40%")