extends layout 
block content 
    .register-page-container
      .register-container
        h2 Register
        form(action="/register", method="post")
          .form-group
            label(for="username") Username
            input(type="text", name="username", id="username", required)
          .form-group
            label(for="email") Email
            input(type="email", name="email", id="email", required)
          .form-group
            label(for="password") Password
            input(type="password", name="password", id="password", required)
          button(type="submit") Register
        p
          | Already have an account? 
          a(href="/login") Login here

    div.homeButtonContainer
        a(href="/")
            button.homeButton Home

  

